
@{
    ViewBag.Title = "Image1";
}

<h2>Image1</h2>

<a href="/Restaurant/Image1"><img src="~/image1/Pizza.jpg" /></a>
<a href="/Restaurant/Image1"><img src="~/image1/Pulihora.jpg" /></a>
<a href="/Restaurant/Image1"><img src="~/image1/Cassolute.jpg" /></a>
<a href="/Restaurant/Image1"><img src="~/image1/Biryani.jpg" /></a>
<a href="/Restaurant/Image1"><img src="~/image1/sambar.jpg" /></a>
